<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ judul }}</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "/img/favicon.ico"%}">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static "/portal/plugins/bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "/portal/css/blog.style.css"%}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static "/portal/css/headers/header-v8.css"%}">
    <link rel="stylesheet" href="{% static "/portal/css/footers/footer-v8.css"%}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static "/portal/plugins/animate.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/line-icons/line-icons.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/fancybox/source/jquery.fancybox.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/font-awesome/css/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/login-signup-modal-window/css/style.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/owl-carousel/owl-carousel/owl.carousel.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/master-slider/masterslider/style/masterslider.css"%}">
    <link rel="stylesheet" href="{% static "/portal/plugins/master-slider/masterslider/skins/default/style.css"%}">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static "/portal/css/theme-colors/default.css"%}" id="style_color">
    <link rel="stylesheet" href="{% static "/portal/css/theme-skins/dark.css"%}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static "/portal/css/custom.css"%}">

    <!-- JS Global Compulsory -->
    <script src="{% static "/portal/plugins/jquery/jquery.min.js"%}"></script>
    <script src="{% static "/portal/plugins/jquery/jquery-migrate.min.js"%}"></script>
    <script src="{% static "/portal/plugins/bootstrap/js/bootstrap.min.js"%}"></script>
    <script src="{% static "/js/jquery.validate.js"%}"></script>
  </head>
  <body class="header-fixed header-fixed-space-v2">
  <div class="wrapper">
